<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
</head>
<body>
    <div class="title" th:text="${message}"></div>

    <div id="app">
        <layout :market-list="marketList" :max-market="maxMarket" :min-market="minMarket"></layout>
    </div>

    <!-- 리소스 로드 영역 -->
    <link rel="stylesheet" type="text/css" media="all" href="/app.css" th:href="@{/app.css}" />
    <script type="text/javascript" src="/vendors.js" th:src="@{/vendors.js}"></script>
    <script type="text/javascript" src="/index.js" th:src="@{/app.js}"></script>
</body>
</html>