html {
  padding: 0;
}

body {
  margin: 0;
}

.title {
  background: #000;
  height: 40px;
  line-height: 40px;
  color: #a9a9a9;
  padding-left: 15px;
  margin-bottom: 150px;
}

.pattern {
    width: 300px;
    height: 64px;
    display: inline-block;
    background-image: url("./images/globe.png");
    background-repeat: repeat-x;
}

.image {
    width: 300px;
    height: 300px;
    display: inline-block;
    background-image: url("./images/webpack.svg");
}